In [1]:
#variable
Var1 = "hello friends"
print(Var1)

hello friends

In [2]:
#Datatype
Var1="hello friends"
print(type(Var1))

<class 'str'>

In [3]:
Var2=52
print(type(Var2))

<class 'int'>

In [4]:
Var3=52.22
print(type(Var3))

<class 'float'>

In [5]:
print(Var2+Var3)

104.22

In [6]:
Var4="Good morning"
print(type(Var1))

<class 'str'>

In [7]:
print(Var1 + Var4)

hello friendsGood morning

In [8]:
Var1 ="10"

In [9]:
print(Var1 + Var4)

10Good morning

In [10]:
Var2 ="32"

In [11]:
print(Var1 + Var2)

1032

In [12]:
#typecasting
print(int(Var1) + int(Var2))

42

In [13]:
"""
str()
int()
float()
"""
print(10 * "Hello friends")

Hello friendsHello friendsHello friendsHello friendsHello friendsHello friendsHello friendsHello friendsHello friendsHello friends

In [14]:
print(10 * "Hello friends\n")

Hello friends
Hello friends
Hello friends
Hello friends
Hello friends
Hello friends
Hello friends
Hello friends
Hello friends
Hello friends

In [15]:
print(10 * str(int(Var1) + int(Var2)))

42424242424242424242

In [16]:
print("enter your number")
abc = input()

enter your number
22

In [18]:
#wap to add two number?

print("enter a first number")
a1 = input()
print("enter a second number")
b1 =input()
print("sum of thes number",int(a1)+int(b1))

enter a first number
10
enter a second number
20
sum of thes number 30